.footer {
    margin-top: 3em;
    background-color: rgb(160, 87, 229);
    color: white;
    padding: 1em;
    text-align: center;
}

@media (max-width: 600px){
    p {
        font-size: small;
    }
}